# Node modules
node_modules/
package-lock.json

# Environment variables
.env

# Build folders
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*backend/nul
*.nul
backend/nul
nul
*.nul
backend/nul
